
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Mitr&display=swap');

:root {
    --primary-color: #061703;
    --secondary-color: #89CDE6; 
    --accent1-color: #323f32;
    --accent2-color: #ffffff;

    --heading-font: "Mitr", serif;
    --paragraph-font: "Josefin Sans", serif;

    --nav-background-color: #061703;
    --nav-link-color: #e0e0d2;
    --nav-hover-link-color: #061703;
    --nav-hover-background-color: #e0e0d2;

}

body{
    max-width: 960px;
    font-family: var(--paragraph-font);
    padding: 20px;
    background-color: var(--accent2-color);
}
header h1{
    color: var(--accent2-color);
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

header {
    padding: 20px;
    background-color: var(--primary-color);
}

p{
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2em;
    display: flex;
}
nav a{
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited{
    color: var(--nav-link-color);
}
nav a:hover{
    color: var(--nav-hover-link-color);
    background-color: var(--nav-background-color);
}